{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules" : {
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/no-multi-comp": 0,
    "object-curly-newline": 0,
    "function-paren-newline": 0,
    "no-underscore-dangle": 0
  }
}
